.Nav_main{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    box-shadow: 10px 10px 27px 7px rgb(215 215 215 / 75%);
}
.Nav_logo_img{
    height : 35px;
}

.Nav_centerContents{
    display: flex;
    flex: 0.8;
    justify-content: space-around;
}

.Nav_rightSide_contents{
    display: flex;
    justify-content: space-around;
    flex: 0.2;
}



.ant-popover-content{
    width: 88vw;
}


.ant-popover-inner-content{
    max-height: 56vh;
    overflow-y: scroll;
}